#CLIENT GATEWAY PORT
# This is the port for the client gateway
PORT=3000

#PRODUCTS MICROSERVICE
# This is the port for the products microservice
PRODUCTS_MICROSERVICE_HOST=localhost
PRODUCTS_MICROSERVICE_PORT=3001

# ORDERS MICROSERVICE
# This is the host and port for the orders microservice
ORDERS_MICROSERVICE_HOST=localhost
ORDERS_MICROSERVICE_PORT=3002